.region-card {
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  position: relative;

  &__image {
    border-radius: 20px;
    position: absolute;
    width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    height: auto;
    vertical-align: middle;
  }

  &__name {
    color: var(--accent-green);
    font-weight: 700;
    font-size: 24px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0px);
    opacity: 0;
    z-index: 1;
    transition: 0.6s ease-in;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  &:hover {
    .region-card__name {
      opacity: 1;
      transition: 0.6s ease-in;
    }
  }
}

@media (max-width: 640px) {
  .region-card__name {
    top: 20px;
    font-size: 15vw;
    color: var(--accent-green);
  }
}
