:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  min-width: 280px;
  overflow: hidden;
}

.app-main {
  padding: 20px 0;
  height: 100%;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

app-header {
  display: block;
}
